.l-project-grid {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-gap: 0.2rem;
    grid-template-areas:
        "title tech"
        "description repo";


    &_title {
        grid-area: title;
    }

    &_tech {
        grid-area: tech;
        align-self: center;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
    }

    &_description {
        grid-area: description;
    }

    &_repo {
        grid-area: repo;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-end;
    }
}
