<footer role="contentinfo" class="c-footer">
    <div class="c-footer_wrapper">
        <div class="c-footer_item c-footer_tech">
            {{ footer[locale].madeWith  }}
            <a class="c-underline-link" href="https://11ty.dev">
                11ty
            </a>
        </div>
        <div class="c-footer_item c-footer_author">
            © {{ year.copyrightYear }} {{ metadata[locale].author.name  }}
        </div>
        <div class="c-footer_item c-footer_source">
            <span>{{ footer[locale].sources }}</span>
            <a
                aria-label="{{ metadata[locale].source.label }}"
                class="c-footer_icon c-icon-link c-icon-link--hover-extra"
                href="{{ metadata[locale].source.link }}"
            >
                {% set label = metadata[locale].source.label %}
                {% if label == 'github' %}
                    {% include "icons/brand-github.svg" %}
                {% elif label == 'gitlab' %}
                    {% include "icons/brand-gitlab.svg" %}
                {% endif %}
            </a>
        </div>
    </div>
</footer>
