@forward "../components/content";
@forward "../components/pagination";

.p-article {
    width: 90%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex:1;    
    background: var(--gradient-header);
    padding: 16px;

    @media screen and (min-width: 800px) {
        &_hero {
            position:relative;
            top: -8rem;
        }            
    }

    &_hero {
        position: relative;
    }

    &_date {
        color: grey;
    }

    &_tags {
        display: flex;
        margin: 16px auto 16px;
        flex-wrap: wrap;
        font-size: x-small;
    }

    &_content {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 1.2rem;
        font-weight: bolder;
    }

    &_section-title {
        color: grey;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 2rem;
    }

    &_gallery {
        width:100%;
        column-width:15em;
        column-gap:8;
        margin: 16px auto 16px;
    }

    @media screen and (min-width: 800px) {
        &_blog-post-format {
            width: 70%;
            margin: auto;
            background-color:white;
            padding: 16px;
        }            
    }
}
