@forward "../components/content";
@forward "../components/pagination";

.p-article {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex:1;    
    padding: 0 1rem;
    background: var(--gradient-header);
    margin-bottom: 1rem;

    &_hero {
        position: relative;
    }

    &_date {
        margin-top: 10rem;
        color: grey;
    }

    &_tags {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        font-size: x-small;
    }

    &_content {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 1.2rem;
        font-weight: bolder;
    }

    &_section-title {
        color: grey;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 2rem;
    }

    @media screen and (min-width: 800px) {
        &_blog-post-format {
            position:relative;
            top:-100px;
            width:70%;
            margin:auto;
            background-color:white;
            padding:10px
        }            
    }
}
