@use "../mixins";

.p-index {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;

    &_hero {

      font-family: var(--monospace);
      padding: 1rem;

      p {
        margin: 1em;
      }
    }

    &_events {

      font-family: var(--monospace);
      padding: 1rem;


    }

    &_links {

      font-family: var(--monospace);
      padding: 1rem;

      p {
        margin: 1em;
      }

      &_link-container {
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
      }

      &_link {
        a {
        display: block;
        margin-top: 1em;
        border: 1px solid lightblue;
        padding: 1em;
        border-radius: 0.3em;
        }

        a:hover {
          display: block;
          background-color: lightblue;
        }
      }


    }

    &_latest {
        padding: 1rem;
    }
}
