.c-article {
    width: 100%;
    max-width: var(--max-content-width);
    margin: 0 auto;

    padding: 0 1rem;
    background: var(--gradient-header);
    border-radius: 0.25rem;
    margin-bottom: 1rem;

    &_date {
        font-size: var(--text-sm);
        margin-right: 0.5rem;
    }

    &_tags {
        display: flex;
        gap: 0.5rem;
    }
}
