@use "sass:map";
@forward "link";

.c-footer {
    background-color: var(--color-accent);

    &_wrapper {
        width: 100%;
        max-width: var(--max-content-width);
        margin: 0 auto;

        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    &_source {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
}
