@use "../mixins";
@forward "nav";
@forward "logo";

.c-header {
    width: 100%;
    max-width: var(--max-content-width);
    margin: auto;
    position: relative;
    text-align: center;
    gap: 1rem;
}

.c-header-image {
    object-fit:cover;
    aspect-ratio:2.07/1;
    min-height: 50vh;
}

