.c-simple-link {
    color: var(--color-text);
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: background 0.2s;

    &:hover {
        background: var(--color-accent);
    }

    &:visited {
        color: var(--color-text);

        &:hover {
            background: var(--color-accent);
        }
    }

    &--active {
        background: var(--color-accent);
        color: var(--color-text);
    }
}

.c-text-link {
    transition: color 0.2s;
    color: var(--color-accent);

    &:hover {
        color: var(--color-extra);
    }

    &:visited {
        color: var(--color-accent);

        &:hover {
            color: var(--color-extra);
        }
    }
}

.c-underline-link {
    text-decoration: underline;
    color: var(--color-text);

    &:hover {
        text-decoration-color: var(--color-extra);
        background-color: var(--color-gray-200);
    }

    &:visited {
        text-decoration: underline;
        color: var(--color-text);

        &:hover {
            text-decoration-color: var(--color-extra);
            background-color: var(--color-gray-200);
        }
    }
}

.c-gradient-link {
    background: var(--main-gradient);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
        color: var(--color-main);
        display: inline-block;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
    }
}

.c-icon-link {
    --color: var(--color-text);
    --hover-color: var(--color-accent);

    &--hover-accent {
        --hover-color: var(--color-accent);
    }
    &--hover-extra {
        --hover-color: var(--color-extra);
    }

    svg {
        stroke: currentColor;
        color: var(--color);
    }

    &:hover {
        svg {
            color: var(--hover-color);
        }
    }
}
