@forward "link";

.c-nav-list {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    &_item {
        margin: auto;
        &--active {
            color: hsl(0, 0%, 40%);
        }
        &:hover {
            color: hsl(0, 0%, 40%);
        }
    }
}
