@forward "link";

.c-nav-list {
    display: flex;
    top: 1.25rem;
    font-weight: bold;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    gap: 5vw;
    &_item {
        margin: auto;
    }
}
