@forward "link";

.c-nav-list {
    display: flex;
    position: absolute;
    top: 1rem;
    font-weight: bold;
    margin: auto;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    gap: 7vw;
    &_item {
        margin: auto;
    }
}
