@use "../mixins";
@use "link";
@forward "../layouts/post-grid";

.c-posts-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    &--archive, &--tags {
        margin-top: 1.5rem;
    }
}
.c-post-item {

    min-width: calc(100% / 2 - 1rem);
    width: 100%;
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid lightblue;

    &_date {
        font-size: var(--text-sm);
        color: var(--color-gray-900);
    }
    &_tags {
        display: inline-flex;
        flex-flow: row wrap;
        gap: 0.25rem;
    }
    &_meta {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
