---
layout: layouts/base.njk
templateClass: tmpl-about
---

    <div class="p-article_blog-post-format">
      <div id="map" style="width:100%;aspect-ratio:1;min-height:700px"></div>
    </div>

    <script>
      // initialize Leaflet
      var map = L.map('map').setView({lon: 0, lat: 0}, 2);
      // add the OpenStreetMap tiles
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);
      // show the scale bar on the lower left corner
      L.control.scale({imperial: true, metric: true}).addTo(map);

      // render gpx data on map
      var myLine1 = {
          "type": "LineString",
          "coordinates": [[-100, 40], [-105, 45], [-110, 55]]
      };
      L.geoJSON(myLine1).bindPopup('<a href="../posts/en/20221006_Elendlangballern/post/">Elendlangballern</a>').addTo(map);
      var myLine2 = {
          "type": "LineString",
          "coordinates": [[-105, 40], [-110, 45], [-115, 55]]
      };   
      L.geoJSON(myLine2).bindPopup('Line2').addTo(map);

    </script>