---
layout: layouts/base.njk
templateClass: tmpl-about
---

    <div class="p-article_blog-post-format">
      <div id="map" style="width:100%;aspect-ratio:1;min-height:700px"></div>
    </div>

    <script>
      // initialize Leaflet
      var map = L.map('map').setView({lon: 0, lat: 0}, 2);
      // add the OpenStreetMap tiles
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);
      // show the scale bar on the lower left corner
      L.control.scale({imperial: true, metric: true}).addTo(map);

      // render gpx data on map
      const icon = new L.Icon.Default;
      {%- for gpx in collections.gpx %}
        
        var gpx = "../posts/en/{{ gpx.postfolder }}/gpx/{{ gpx.filename }}";
        var reportLoc = "../posts/en/{{ gpx.postfolder }}";
        var link = "<a href=\"" + reportLoc + "\">Bericht</a>";
        
        new L.GPX(gpx, {async: true,
          marker_options: {
            startIcon: icon,
            endIcon: icon,
            wptIcons: {'': icon},
          },
        }).on('loaded', function(e) {
          map.fitBounds(e.target.getBounds());
        }).bindPopup(link).addTo(map);

      {%- endfor -%}
    
    </script>
