---
layout: layouts/base.njk
templateClass: tmpl-about
---

  <head>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  </head>

    <div id="map" style="width:1000px;height:1000px"></div>
    <script>
    var myLine1 = {
        "type": "LineString",
        "coordinates": [[-100, 40], [-105, 45], [-110, 55]]
    };
    var myLine2 = {
        "type": "LineString",
        "coordinates": [[-105, 40], [-110, 45], [-115, 55]]
    };

      // initialize Leaflet
      var map = L.map('map').setView({lon: 0, lat: 0}, 2);

      // add the OpenStreetMap tiles
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);

      // show the scale bar on the lower left corner
      L.control.scale({imperial: true, metric: true}).addTo(map);

      L.geoJSON(myLine1).bindPopup('<a href="../posts/en/20221006_Elendlangballern/post/">Elendlangballern</a>').addTo(map);
      L.geoJSON(myLine2).bindPopup('Line2').addTo(map);

      // show a marker on the map
      L.marker({lon: 0, lat: 0}).bindPopup('The center of the world').addTo(map);
    </script>