---
layout: layouts/base.njk
---

    <div class="p-article_blog-post-format">
      <div id="map" style="width:100%;aspect-ratio:1;min-height:700px"></div>
    </div>

    <script>
      // initialize Leaflet
      var map = L.map('map');
      // add the OpenStreetMap tiles
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);
      // show the scale bar on the lower left corner
      L.control.scale({imperial: true, metric: true}).addTo(map);

      // render gpx data on map
      const icon = new L.Icon.Default;

      {%- for gpx in collections.gpx %}
        
        var link;

        {%- for post in collections.posts -%}
          {%- if gpx.postfolder in post.url -%}
            var link = "<a href=\"../posts/en/{{ gpx.postfolder }}\"><h3 class= \"c-post-item_title\">{{ post.data.title }}</h3><img src=\"{{post.url}}media/{{ post.data.banner }}\" style=\"width:300px;aspect-ratio:4/3;object-fit: cover\"></a>";
          {%- endif -%}
        {%- endfor-%}
        var gpx = "../posts/en/{{ gpx.postfolder }}/gpx/{{ gpx.filename }}";
                
        new L.GPX(gpx, {async: true,
          marker_options: {
            startIcon: icon,
            endIcon: icon,
            wptIcons: {'': icon},
          },
        }).bindPopup(link).addTo(map);
    
        map.setView({lon: 10, lat: 47.4}, 8);

      {%- endfor -%}

    </script>
