---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="p-article">
    <div class="p-article_hero">
        {% if page.data.image %}
            <picture>
                <img src="/static/images/{{ page.data.image }}" alt="{{ post.data.imageAlt }}" />
            </picture>
        {% endif %}
        <time class="p-article_date" datetime="{{ page.date | htmlDateString }}">
            {{ page.date | en_readableDate }}
        </time>
        <h1 class="p-article_title">{{ title }}</h1>
        <div class="p-artilce_tags">
        {%- for tag in tags | filterTagList -%}
            {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
            <a href="{{ tagUrl | url }}" class="c-underline-link">{{ tag }} </a>
        {%- endfor %}
        </div>
    </div>

    <div class="slideshow-container">
        {%- for image in collections.images -%}
            {%- if image.postfolder in page.inputPath -%}
                <div class="mySlides fade">
                    <img src="../media/{{image.path}}" class="slideshow-image">
                </div>
            {%- endif -%}
        {%- endfor -%}
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <br>
    <div style="text-align:center">
        {%- for image in collections.images -%}
            {%- if image.postfolder in page.inputPath -%}
                <span class="dot" onclick="currentSlide({{loop.index}})"></span>
            {%- endif -%}
        {%- endfor -%}
    </div>

    <div role="main" class="c-content">
        {{ content | safe }}
    </div>

    {%- if komoot -%}
      <div class="p-article_hero">
        <h1 class="p-article_title">Komoot Planung</h1>
        {%- for komootItem in komoot -%}
          <iframe src="{{komootItem}}" width="99%" height="700" frameborder="0" scrolling="no" class="komoot"></iframe>
        {%- endfor -%} 
      </div>
    {%- endif -%}       

    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
    <div class="c-pagination">
        <ul class="c-pagination_list">
        {%- if nextPost %}
            <li>Next: <a class="c-pagination_link c-underline-link" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>
        {% endif %}
        {%- if previousPost %}
            <li>Previous: <a class="c-pagination_link c-underline-link" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>
        {% endif %}
        </ul>
    </div>
    {%- endif %}
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function sliderKeyPressEvent(e) {
  var keynum;
  if(window.event) { // IE                  
    keynum = e.keyCode;
  } else if(e.which){ // Netscape/Firefox/Opera                 
    keynum = e.which;
  }
  
  if(keynum == 37) { // left
    plusSlides(-1)
  }
  if(keynum == 39) { // right
    plusSlides(1)
  }
}

document.onkeydown = sliderKeyPressEvent;

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

