---
layout: layouts/base.njk
templateClass: tmpl-post
---

<link rel="stylesheet" href="/assets/photoswipe/photoswipe.css">
<script type="module">
  import PhotoSwipeLightbox from '/assets/photoswipe/photoswipe-lightbox.esm.js'; 
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('/assets/photoswipe/photoswipe.esm.js')
  });
  lightbox.init();
</script>

{% set galleryExists = false %}
{%- for image in collections.images -%}
  {%- if image.postfolder in page.inputPath -%}
    {% set galleryExists = true %}
  {%- endif -%}
{%- endfor -%}

<div class="p-article">
  <div class="p-article_hero">
    <div class="p-article_blog-post-format">
      <time class="p-article_date" datetime="{{ page.date | htmlDateString }}">
          {{ page.date | en_readableDate }}
      </time>

      <h1 class="p-article_title">{{ title }}</h1>
      {% if tags %}
        <div class="p-article_tags">
          {%- for tag in tags | filterTagList -%}
              {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
              <a href="{{ tagUrl | url }}" class="c-tag">{{ tag }}</a>
          {%- endfor %}
        </div>
      {% endif %}
      {% if galleryExists or strava or links %}
      <hr style="border-top: dashed 1px;margin-top:2rem;margin-bottom:1rem" />
        <ul class="p-article_content">
          Inhalt: 
          {% if galleryExists %}
            <li><a href="#gallery" class="c-underline-link"><img src="/static/image.svg" style="height:1rem;width:auto"/>  Galerie</a></li>
          {% endif %}
          {% if strava  %}
            <li><a href="#strava" class="c-underline-link"><img src="/static/strava.svg" style="height:1rem;width:auto"/>  Strava</a></li>
          {% endif %}
          {% if links %}
            <li><a href="#links" class="c-underline-link"><img src="/static/link.svg" style="height:1rem;width:auto"/>  Links</a></li>
          {% endif %}
        </ul>
      <hr style="border-top: dashed 1px;margin-top:1rem" />
      {% endif %}
  
      <h1 class="p-article_section-title">Bericht</h1>
      <div role="main" class="c-content">
          {{ content | safe }}
      </div>

      {%- if galleryExists -%}
        <h1 class="p-article_section-title">Gallerie</h1>
        <div id="gallery" class="p-article_gallery">
          {% set printGalleryHeader = true %}
          {%- for image in collections.images -%}
            {%- if image.postfolder in page.inputPath -%}
              <a href="media/{{image.path}}" 
                data-pswp-width="{{image.width}}" 
                data-pswp-height="{{image.height}}" 
                target="_blank">
                <img src="media/thumbnail-{{image.path}}" style="max-width:200px;margin-top:8px;flex-flow:column-wrap"/>
              </a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
      
      {%- if strava -%}
        <h1 class="p-article_section-title">Strava</h1>
        <div id="strava">
          {%- for stravaItem in strava -%}
              <li><a href="{{stravaItem[1]}}" class="c-underline-link">{{stravaItem[0]}}</a></li>
          {%- endfor -%} 
        </div>
      {%- endif -%}       

      {%- if links -%}
        <h1 class="p-article_section-title">Links</h1>
        <div id="links">
            <ul>
            {%- for link in links -%}
              <li><a href="{{link[1]}}" class="c-underline-link">{{link[0]}}</a></li>
            {%- endfor -%}
            </ul>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>