.s-common {
    --text-xs: 0.7rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-xxl: 2rem;

    --max-content-width: 70rem;

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and ( min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        --max-content-width: 60rem;
    }

    --sans-serif:   Helvetica, Arial, sans-serif;
    --monospace:    'JetBrains Mono', 'Roboto Mono', monospace;
    --serif:        'Playfair Display', serif;

    --color-gray-100: hsl(0, 0%, 90%);
    --color-gray-200: hsl(0, 0%, 85%);
    --color-gray-300: hsl(0, 0%, 80%);
    --color-gray-400: hsl(0, 0%, 70%);
    --color-gray-500: hsl(0, 0%, 65%);
    --color-gray-600: hsl(0, 0%, 60%);
    --color-gray-700: hsl(0, 0%, 55%);
    --color-gray-800: hsl(0, 0%, 40%);
    --color-gray-900: hsl(0, 0%, 30%);

    --color-warning: hsl(37, 79%, 60%);

    --main-gradient:        linear-gradient(to right, #dd33b3, #1ca6b5);
    --main-gradient-inv:    linear-gradient(to right, #1ca6b5, #dd33b3);
}

.s-light-theme {
    --color-main:   hsla(0, 0%, 98%, 1);
    --color-text:   hsla(0, 0%, 0%, 1);
    --color-dark:   hsla(0, 0%, 20%, 1);
    --color-bg:     hsla(0, 0%, 66%, 1);
    --color-accent: hsla(165, 56%, 83%,1);
    --color-extra:  hsl(315, 71%, 53%);
}
