<div class="p-about">
    <h1>{{ about[locale].title | capitalize }}</h1>
    <div class="p-about_content">
        <!-- put html here -->
        {{ about[locale].aboutme | safe }}
    </div>
</div>
