<div class="p-index">

    <section class="p-index_hero">
        <h1>
            &lt;Hackerspace/&gt; PESUECC
        </h1>
        <p>
            {{ main[locale].siteDescription | safe }}
        </p>
    </section>

    <section class="p-index_links">
        <h2>
            Links
        </h2>
        <ul class="p-index_links_link-container">
          {% set links = main[locale].links%}
          {% for link in links %}
            <li> 
              <section class="p-index_links_link"/>
                <a href={{link.link | safe}} class="c-gradient-link">  {{link.text}}  </a>
              </section>
            </li>
          {% endfor %}
        </ul>

    </section>

    <section class="p-index_events">
        <h2>
            Events
        </h2>
    {% set postslist = collections.events %}
    {% if postslist | length %}
        <ul class="c-posts-list c-posts-list--archive">
            {% set includeImage = true %}
            {% include "components/blog-post-items.njk" %}
        </ul>
    {% else %}
    {% endif %}

    </section>

    {% if main[locale].showPosts %}
    <section class="p-index_latest">

        <h2 class="u-mb--16">
            {% set maxPosts = collections.posts.length | min(3) %}
            {{ main[locale].latest | capitalize }}
            {% if maxPosts == 1 %}
                {{ main[locale].post }}
            {% else %}
                {{ maxPosts }} {{ main[locale].posts }}
            {% endif %}
        </h2>

        <ul class="c-posts-list">
            {% set postslist = collections.posts | head(3) %}
            {% include "components/blog-post-items.njk" %}
        </ul>

    </section>
    {% else %}
    <section class="p-index_links">
        <h2>
            Website Under Construction 🚧 Come back soon!
        </h2>
    {% endif %}


</div>
